<?xml version="1.0" encoding="UTF-8"?>
<server description="${project.name}">

    <featureManager>
        <feature>microProfile-3.2</feature>
        <feature>usr:opentracingZipkin-0.31</feature>
    </featureManager>

    <opentracingZipkin host="zipkin" port="9411"/>

    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="9082"
                  httpsPort="9445"/>

    <webApplication location="${project.name}.war" contextRoot="/service-a"/>
    <mpMetrics authentication="false"/>

</server>
